{% extends './index.html' %}

{% block link %}
 {{ block.super }}
 <link rel="stylesheet" href="/static/css/apply/finish.css">
{% endblock %}

{% block body %}
<div id="root">
  <div class="layout header">
    <a href="/"><h1>SPARCS</h1></a>
    <p>2017 Spring Recruting</p>
  </div>
  <div class="ui container layout main">
    <h2>지원이 완료되었습니다.</h2>
    <div>
      <a class='link' href="/">메인페이지로 가기</a>
    </div>
    <div>
      <a class='link' href="/apply">수정하기</a>
    </div>

  </div>
</div>
{% endblock %}
