.layout {
  &.header {
    text-align: center;
    height: 80px;
    background-color: black;
    h1 {
      color: white;
    }

    p {
      color: #aaa;
    }
  }
  &.main {
    padding-top: 100px;
  }
}

.form {
  footer {
    span {
      margin-right: 10px;
    }
    text-align: right;
    padding-top : 20px;
    padding-bottom: 100px;
  }
}
