{% extends './_layouts/default.html' %}

{% block title %}
  2017 SPARCS Register
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="/static/dist/css/apply/index.css">
  <link rel="stylesheet" href="/static/semantic/semantic.min.css">
{% endblock %}

{% block body %}
  <div id="root">
    <div class="layout header">
      <h1>SPARCS</h1>
      <p>2017 Spring Recruting</p>
    </div>
    <div class="layout main ui container">
      <form class="ui form" action="/apply/submit" method="POST">
        {% csrf_token %}
        <h2 class="ui dividing header">
          SPARCS 2017지원에 사용될 정보를 확인해주세요
          <div class="sub header">해당정보는 참고용으로만 사용됩니다.</div>
        </h2>
        <div class="ui grid">
          <div class="row">
            <div class="six wide column">
              <label>YOUR NAME</label>
            </div>
            <div class="six wide column">
              <input type="text" name="name" placeholder="Your Name" value="{{ name }}" required>
            </div>
          </div>
          <div class="row">
            <div class="six wide column">
              <label>YOUR GENDER</label>
            </div>
            <div class="six wide column">
              <div class="inline fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="gender" value="m" tabindex="0" {%if gender == 'm'%}checked{% endif %} required>
                    <label>Male</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="gender" value="f" tabindex="0" {%if gender == 'f'%}checked{% endif %} required>
                    <label>Female</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="gender" value="e" tabindex="0" {%if gender != 'm' and gender != 'f'%}checked{% endif %} required>
                    <label>ETC</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="six wide column">
              <label>YOUR BIRTHDAY</label>
            </div>
            <div class="six wide column">
              <div class="three fields">
                <div class="field">
                  <label>Year</label>
                  <input type="text" name="birthYear" pattern="[0-9]{4}" maxlength="4" placeholder="Year" value="{{ birthYear }}">
                </div>
                <div class="field">
                  <label>Month</label>
                  <input type="text" name="birthMonth" pattern="[0-9]{1,2}" maxlength="2" placeholder="Month" value="{{ birthMonth }}">
                </div>
                <div class="field">
                  <label>Day</label>
                  <input type="text" name="birthDay" pattern="[0-9]{1,2}"  maxlength="2" placeholder="Day" value="{{ birthDay }}">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="six wide column">
              <label>KAIST INFORMATION</label>
            </div>
            <div class="six wide column">
              <div class="row">
                <div class="fields">
                  <div class="field">
                    <label>Student Number</label>
                    <input type="text" name="studentNumber" placeholder="" value="{{ studentNumber }}" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="fields">
                  <div class="field">
                    <label>Department</label>
                    <input type="text" name="department" placeholder="" value="{{ department }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="six wide column">
              <label>CONTACT NUMBER</label>
            </div>
            <div class="six wide column">
              <input type="text" name="contactNumber" placeholder="" value="{{ contactNumber}}" required>
            </div>
          </div>
          <div class="row">
            <div class="six wide column">
              <label>Email</label>
            </div>
            <div class="six wide column">
              <input type="text" name="email" placeholder="" value="{{ email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </div>
          </div>
        </div>

        <h2 class="ui dividing header">
          추가적으로 자기를 소개해주세요!
          <div class="sub header">해당 정보는 면접 시 사용됩니다.</div>
        </h2>
        <div class="ui grid">
          <div class="row">
            <div class="six wide column">
              <label>POSITION</label>
            </div>
            <div class="six wide column">
              <div class="inline fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input
                      type="radio"
                      name="position"
                      tabindex="0"
                      value="designer"
                      {%if position == 'designer' %}checked{% endif %}
                      required
                    >
                    <label>Designer</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input
                      type="radio"
                      name="position"
                      tabindex="0"
                      value="developer"
                      {%if position == 'developer' %}checked{% endif %}
                      required
                    >
                    <label>Developer</label>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="six wide column">
              <label>SPARCS에서 하고 싶은 것</label>
            </div>
            <div class="ten wide column">
              <textarea name="question0" rows="8" cols="80" required>{{ question0 }}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="six wide column">
              <label>본인을 어필해주세요</label>
            </div>
            <div class="ten wide column">
              <textarea name="question1" rows="8" cols="80" required>{{ question1 }}</textarea>
            </div>
          </div>
        </div>

        <h2 class="ui dividing header">
          가능한 면접시간이 언제인가요?
          <div class="sub header">면접 시간 확정 후 개별적으로 연락드리겠습니다.</div>
        </h2>

        <div class="ui two column grid">
          {% for interviewDate in interviewDates %}
          <div class="column">
            <div class="ui grid">
              <div class="four wide column">
                시간
              </div>
              <div class="twelve wide column">
                {{ interviewDate.dateTitle }}
              </div>
              {% for date in interviewDate.dates %}
              <div class="row">
                <div class="four wide column">
                  {{ date.time }}
                </div>
                <div class="twelve wide column">
                  <input
                    type="checkbox"
                    name="interviewDate{{forloop.parentloop.counter0}}"
                    value="{{forloop.counter0}}"
                    {% if date.checked %}
                      checked
                    {% endif %}
                  >
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}

        </div>

        <div class="ui divider"></div>
        <footer>
          <button class='ui button' type="submit">
            {% if first %}
              Submit
            {% else %}
              Update
            {% endif %}
          </button>
        </footer>
      </form>
    </div>
  </div>
{% endblock %}
