{% extends './_layouts/default.html' %}

{% block link %}
  <link rel="stylesheet" href="/static/css/apply/apply.css">
  <link rel="stylesheet" href="/static/semantic/semantic.min.css">
{% endblock %}

{% block body %}
  <div id="root" class='ui container'>
    <h2 class="ui dividing header">Site</h2>
    <div class="ui grid">
      <div class="four wide column">hey</div>
      <div class="twelve wide column"></div>
    </div>
    <form class="ui form">
      <h3 class="ui dividing header">User Info</h3>
      <div class="field">
        <label id="school-id">학번</label>
        <div class="two fields">
          <div class="field">
            <select class="ui fluid dropdown">
              <option value="">선택</option>
              <option value="학사">학사</option>
              <option value="석사">석사</option>
              <option value="박사">박사</option>
            </select>
          </div>
          <div class="field">
            <input type="text" name="shipping[last-name]" placeholder="학번">
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
