<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2017 SPARCS Register</title>
    <link rel="stylesheet" href="/static/dist/css/index.css">
  </head>
  <body>
    <div id="root">
      <header>
        {% if user.is_authenticated %}
          <a href="/session/logout">Sign out</a>
        {% else %}
          <a href="/session/login">Sign in</a>
        {% endif %}
      </header>
      <div class="content">
        <h3>
          SPARCS 2017 SPRING
        </h3>
        <h1>Register</h1>

        {% if user.is_authenticated %}
          <p class='content-detail'>
            2월 28일(화), 3월 1일(수) 저녁 8시 ~ 10시 오픈동방도 잊지마세요!<br>
          </p>
          {% if first %}
          <a href="/apply" class="content-link">APPLY SPARCS 2017</a>
          {% else %}
          <a href="/apply" class="content-link">SPARCS 지원서 수정하기</a>
          {% endif %}
          <br>
          <a href="https://sparcssso.kaist.ac.kr/account/profile/" class="content-link">CHECK SSO PROFILE</a>
        {% else %}
          <p class='content-detail'>
            2월 28일(화), 3월 1일(수) 저녁 8시 ~ 10시 오픈동방도 잊지마세요!<br>
          </p>
          <a href="/session/login" class="content-link">SPARCS SSO로 로그인하고 진행하기</a>
          <p>
            SPARCS SSO는 SPARCS 회원 통합관리 서비스입니다.<br>
            SPARCS 신입생 지원은 물론 다양한 서비스(otlplus 등)을 이용하실 수 있습니다.
          </p>
        {% endif %}
        <br>
        <span class='small'>서비스 문제나 문의사항이 있다면 메일을 통해 알려주세요</span>
        <br>
        <a href="mailto:staff@sparcs.org" class="content-link small">staff@sparcs.org</a>
      </div>
    </div>
  </body>
</html>
