<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="submit" method="POST"> {% csrf_token %}
        <input type="text" name="cid" value="1234">  </input>
        <input type="text" name="semester" value="SUM"> </input>
        <input type="number" name="year" value="1"> </input>
        <input type="number" name="num_contents" value="1"> </input>
        <textarea name="contents-1" cols="40" rows="5" value="asdfasdfasdfasdf"></textarea>
        <input type="submit" name="submit"> </input>
    </form>

</body>
</html>